.container{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;

}
.image{
    object-fit: contain;
}
.title{
    margin-bottom: 10px;
}
.desc{
    font-size: 18px;
    color: #999;
}

@media only screen and (max-width: 800px) {
    .maincontainer{
      overflow-x: hidden;
    }
    .container{
        display: grid;
        align-items: center;
        margin-bottom: 50px;
        width: 100%;
    }
    .image{
        object-fit: cover;
        width: 100%;
    }
    .title{
        margin-bottom: 10px;
    }
    .desc{
        font-size: 18px;
        color: #999;
    }
  }